ul {
    list-style-type: none;
    padding: 1rem;
}
li {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;

    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.3);
    
      
    border-radius: 1rem;
}

.feeling-logs-manager__add-btn {

    margin-left: 1rem;
}

