/* Header Block */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    width: 100vw;
    box-sizing: border-box; 
  }
  
  /* Logo Element */
  .header__logo {
    height: 30px;
  }
  
  /* Navigation Element */
  .header__nav {
    display: flex;
  }
  
  /* Link Element */
  .header__link {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
  }
  .header__link.myLink:visited,
  .header__link.myLink:hover,
  .header__link.myLink:active,
  .header__link.myLink:focus {
  color: #fff;
  text-decoration: none; /* Keeps the color black for all states */
}